.Skills-start {
  display: flex;
  align-items: center;
  gap: 30vh;
}
.Skills-start-all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
.Skills-start-p {
  margin-top: 20px;
}

.Skills-start-img {
  width: 200px;
  height: 100px;
}
.Skills-h2 {
  font-family: var(--first-fonts-fira);
}
.Skills-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acoordion {
  width: 80%;
  margin-bottom: 80px;
}
