.projects-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.project-card {
  background-color: rgb(196, 204, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80vw;
  box-shadow: 9px 10px 10px rgb(196, 204, 204);
}

.project-card-url {
  text-decoration: none;
  color: black;
  border: 1px solid;
  padding: 6px;
  border-radius: 10px;
}

.project-card-description,
.project-card-technical {
  display: none;
}
