div.div-welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.3rem;
    margin-bottom: 2rem;
    background-color: inherit;

  }
  
  form.form-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    width: 60vw;
    flex-grow: 1;
  }
  
  form.form-contact p {
    margin-bottom: 0.3rem;
  }

  .div-email{
    grid-column: 1 / span 2;
  }
  
  form.form-contact div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  div.div-message,
  div.div-btn {
    flex-grow: 1;
    grid-column: 1 / span 2;
  }
  
  form div.div-message {
    flex-grow: 1;
  }
  
  textarea.form-contact-textarea {
    height: 10rem;
    resize: none;
  }
  
  input.form-contact-input,
  form textarea.form-contact-textarea {
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
  }
  
  input.form-contact-input {
    height: 3rem;
  }
  
  input.form-contact-input:focus,
  form textarea.form-contact-textarea:focus {
    border: 1px solid  black;
  }
  
  input.form-contact-input,
  form textarea.form-contact-textarea {
    background: rgba(222, 169, 118.9);
    color: aliceblue;
    border: none;
    width: 100%;
  }

  
  .div-message label {
    width: 100%;
  }
  
  form .all-labels {
    width: 100%;
  }
  
  form div.div-btn {
    align-items: center;
  }
  
  form.form-contact p {
    margin-bottom: -0.5rem;
    margin: 0.5rem 0;
  }
  
  button.btn-contact-submit {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px;
    padding: 0.3rem 2rem;
    border: none;
    background-color: var(---color);
    color: white;
    transition: all ease-in-out 0.3s;
    width: 16rem;
    height: 3rem;
  }
  
  button.btn-contact-submit:hover {
    color: var(---color);
    background-color: white;
  }
  
  h1.h1-form-contact {
    width: 100vw;
    text-align: start;
    margin-bottom: 20px;
  }
  
  @media (max-width: 37rem) {
    div.div-form-container {
      padding-bottom: 6rem;
    }
  
    button.btn-contact-submit {
      width: 100%;
    }
  }
  